<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<header>
  <ul class="localnav">
    <li class="localnav-left">
      <img class="logo-nav" src="{{ url_for('static', filename='img/logo.png')}}" alt="">
    </li>
    <li class="localnav"><a class="localnav" href="{{ url_for('index') }}">Inicio</a></li>
    <li class="localnav"><a class="localnav" href="{{ url_for('news') }}">Noticias</a></li>
    <li class="localnav"><a class="active" href="{{ url_for('catalog') }}">Catalogo</a></li>
    <li class="localnav"><a class="localnav" href="{{ url_for('academy') }}">Academia</a></li>
  </ul>
</header>

</html>
